.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
# Exclude most node_modules but include couchbase SDK (native module)
node_modules/**
!node_modules/couchbase/**
